/*

Get Ready Template

https://templatemo.com/tm-521-get-ready

*/

  @import url('https://fonts.googleapis.com/css?family=Poppins:300,400');

  body {
    margin: 0;
    -webkit-perspective: 1000;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
  }

  body, html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
  }



  /*---------------------------------------
     TYPOGRAPHY
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-weight: 300;
    line-height: inherit;
  }

  h1 {
    color: #000000;
    font-size: 4em;
    /* font-weight: bold; */
  }

  h2 {
    color: #353535;
    font-size: 2em;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #202020;
    text-decoration: none !important;
  }

  .button {
    background:url('../images/opensea-white-logo.png') no-repeat;
    background-size: 35px auto; /* to specify dimensions explicitly */
    background-position-x: 19px;
    background-position-y: 8px;
    background-color: #2081E2;
    border: none;
    color: white;
    padding: 15px 50px 15px 75px;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 1;
  }
  .button:hover { background-color: #1868B7; }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #29ca8e;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #202020;
  }

  .grid {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .grid-line {
    height: 300vh;
    border-right: 1px solid rgba(255,255,255,0.02);
  }

  /*---------------------------------------
      HOME
  -----------------------------------------*/

  #home {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    position: relative;
  }

  #home .container {
    width: 100%;
  }

  .home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100vh;
  }

  /*---------------------------------------
     Ducks
  -----------------------------------------*/

  .title {
    margin-top: 150px
  }

  .ducks {
    width: 250px;
    margin-top: 100px;
  }

  /*---------------------------------------
     RESPONSIVE STYLES
  -----------------------------------------*/

  @media screen and (max-width: 480px) {

    .home-info {
      padding: 0 1em 0 1em;
    }

    .countdown li {
      margin: 0 12px;
    }

    address {
      margin-top: 50px;
    }
  }

  @media screen and (max-width: 360px) {

    h1 {
      font-size: 1.50em;
    }

    .menu-items {
      margin: 100px 0;
    }

    .countdown span {
      font-size: 20px;
    }

    .countdown h3 {
      font-size: 12px;
    }
  }
